/*Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Sour Gummy", sans-serif;
  background-color: #ffffff;
  color: #333;
  padding-left: 1%;
  padding-right: 1%;
}

header {
  background-color: #a368ed;
  font-family: "Doto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  padding: 20px;

  border-bottom: 2px solid #ddd;
}

h2, footer {
  text-align: center;
}

.bg-custom{
  background-color: #a368ed;
}

.navbar-nav .nav-link {
  color: white !important; 
}

.navbar-brand {
  color: white !important;
}

/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto auto; 
  grid-gap: 10px; 
}
/* Fila 1: dos columnas */
.row1 {
  grid-column: span 1; 
}
/* Fila 2: una columna */
.row2 {
  grid-column: span 2; 
}
/* Fila 3: dos columnas */
.row3 {
  display: flex;
  justify-content: center;    
  align-items: center;  
}

.header,.footer {
  grid-column: 1 / 3;
}
.main {
  grid-column: 2 / 3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
  gap: 15px; 
  padding: 10px;
}
.card {
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}
.card:hover {
  transform: translateY(-10px);
}
.card img {
  width: auto;
  height: 220px;
  border-radius: 8px;
}
.card button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card button:hover {
  background-color: #0056b3;
}
.btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
}
.quantity {
  margin-top: 5px;
  padding: 5px;
  width: 50px;
}
.precio {
  margin-top: 5px;
  padding: 5px;
  width: 100px;
}
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas para pantallas medianas */
  }
}

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para pantallas pequeñas */
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr; /* Una columna para pantallas muy pequeñas */
  }
}

footer {
  background-color: #a368ed;
  font-size: larger;
  font-family: monospace;
}

@media only screen and (min-width: 601px) {
  #Contacto {
    grid-column: 1 / 2;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #d1c3e2;
    font-family: "Caveat";
    font-size: medium;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    border-radius: 8px;
  }
  #logo {
    padding-left: 5vw;
    width: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  #Contacto , #Nosotros{
    grid-column: 1 / 3;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #d1c3e2;
    font-family: "Caveat";
    font-size: medium;
    flex-direction: row;
    width: 98%;
    padding-right: 3%;
    border-radius: 8px;
  }
  #logo {
    padding-left: 2vw;
    width: 22vw;
  }
  h3{
    font-family: "Sour Gummy", sans-serif;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: vertical;
}
#btContacto {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}
#btContacto:hover {
  background-color: #45a049;
}

video{
  height: 300px;
  width: auto;
}
/* Estilo para el modal */
#modal {
  display: none; 
  position: fixed;
  top: center;
  left: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  justify-content: center; 
  align-items: center; 
  z-index: 9999; 
  box-sizing: border-box;
  display: flex; 
  padding: 10px; 
  overflow: hidden; 
}

#modalImage {
  width: auto;
  height: 80%; 
  max-width: 90%; 
  max-height: 90%; 
  object-fit: contain; 
  border: 2px solid white; 
  border-radius: 10px;
  margin: auto; 
}




/* Botón de cierre */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}












/* Estilos para el contenedor del carrito */
#cart-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer; /* Cambio de cursor para que parezca un clickeable */
}

/* Estilos para el ícono del carrito */
#cart-container i {
  font-size: 50px; /* Tamaño del ícono */
  color: #333; /* Color del ícono */
  transition: color 0.3s ease-in-out; /* Animación de transición */
}

#cart-container i:hover {
  color: #007bff; /* Cambia el color al pasar el ratón */
}

/* Estilos para el contador de artículos */
#cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red; /* Color de fondo del contador */
  color: white; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Hacer el texto más destacado */
  border-radius: 50%; /* Forma circular */
  padding: 5px 10px; /* Espaciado dentro del círculo */
  min-width: 20px; /* Asegurarse de que el contador tenga un tamaño mínimo */
  text-align: center; /* Centrar el texto */
}
#btCarro{
  background-color: #a368ed;
  border: 0px;
}












/* Estilos del modal */
.modal {
  display: none; /* Inicialmente cerrado */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  justify-content: center;
  align-items: center;
}

#cartContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto; /* Para hacer scroll si es necesario */
}

#cartTable {
  width: 100%;
  border-collapse: collapse;
}

#cartTable th, #cartTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#cartTable th {
  background-color: #f4f4f4;
}

#cartItems input {
  width: 50px;
  text-align: center;
}

#totalPrice {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.btnAzul {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkoutBtn:hover {
  background-color: #0056b3;
}

.close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ff0000;
}



.delete-btn {
  color: red;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.delete-btn:hover {
  text-decoration: underline;
}
