/*Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Sour Gummy", sans-serif;
  background-color: #f3e7ff;
  color: #333;
  padding-left: 1vw;
  padding-right: 1vw;
}

header {
  background-color: #a368ed;
  font-family: "Doto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0%;
}
h2,
footer {
  text-align: center;
}

.bg-custom{
  background-color: #a368ed;
}
.navbar-nav .nav-link {
  color: white !important; /* Cambia el color del texto de los enlaces */
}

.navbar-brand {
  color: white !important; /* Cambia el color del texto del logo */
}


/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
  grid-template-rows: auto auto auto; /* Tres filas con altura automática */
  grid-gap: 10px; /* Espacio entre las celdas */
}

/* Fila 1: dos columnas */
.row1 {
  grid-column: span 1; /* Esto hace que ocupe ambas columnas */
}

/* Fila 2: una columna que ocupe todo el ancho */
.row2 {
  grid-column: span 2; /* Esto hace que ocupe ambas columnas */
}

/* Fila 3: dos columnas */
.row3 {
  display: flex;
  justify-content: center;    /* Centra los elementos horizontalmente */
  align-items: center;  
 /* grid-template-columns: auto auto;  /* Dos columnas que ocupan el 50% del ancho cada una */
 /* grid-column: span 1;*/
}

.flex-menu {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1vw 1vw;
  border-radius: 5px;
  grid-column: 1 / 3;
}

.flex-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-menu li {
  margin-right: 1vw;
}

.flex-menu a {
  color: white;
  text-decoration: none;
  padding: 1vw 1vw;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.flex-menu a:hover {
  background-color: #555;
}
.header,
.footer {
  grid-column: 1 / 3;
}
.main {
  grid-column: 2 / 3;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vw;
}
.producto {
  background-color: #2196f3;
  color: white;
  padding: 2vw;
  margin: 1vw;
  flex: 1 1 5vw;
  box-sizing: border-box;
}

footer {
  background-color: #a368ed;
  font-size: larger;
  font-family: monospace;
}

@media only screen and (min-width: 601px) {
  #Contacto {
    grid-column: 1 / 2;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #d1c3e2;
    font-family: "Caveat";
    font-size: medium;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    border-radius: 8px;
  }
  #logo {
    padding-left: 5vw;
    width: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  #Contacto , #Nosotros{
    grid-column: 1 / 3;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #d1c3e2;
    font-family: "Caveat";
    font-size: medium;
    flex-direction: row;
    width: 98%;
    padding-right: 3%;
    border-radius: 8px;
  }
  #logo {
    padding-left: 2vw;
    width: 22vw;
  }
  h3{
    font-family: "Sour Gummy", sans-serif;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
 /* padding: 1vw 1vw;*/
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}
